@model JobApplication
@{
    ViewBag.Title = "Apply";
}
<div class="row">
    <div class="col-sm-12">
        <h2>Edit Job Offer</h2>
        @using (Html.BeginForm("ApplyFor"))
        {
            @Html.HiddenFor(m => m.OfferId, new { @Value = Model.OfferId })
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p>Applyfor job offer nr: @Model.OfferId</p>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextAreaFor(m => m.FirstName, new { @class = "form-control", placeholder = "Enter first name" })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextAreaFor(m => m.LastName, new { @class = "form-control", placeholder = "Enter last name" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextAreaFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Enter phone number" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ContactAgreement)
                @Html.TextAreaFor(m => m.ContactAgreement, new { @class = "form-control", placeholder = "Do you agree for us to contact you?" })
                @Html.ValidationMessageFor(m => m.ContactAgreement, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CvUrl)
                @Html.TextAreaFor(m => m.CvUrl, new { @class = "form-control", placeholder = "Enter CV url" })
                @Html.ValidationMessageFor(m => m.CvUrl, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextAreaFor(m => m.EmailAddress, new { @class = "form-control", placeholder = "Enter email address" })
                @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>